* {
    box-sizing: border-box;
}


#graphe {
    margin-left: 20px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 1100px;
}