#formw1 {

    position: relative;
    width: 300px;
    max-width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #0c0c0d;
    border: solid;
    border-width: 1px;
    border-color: rgba(44, 44, 44, 0.353);
    box-shadow: 10px 10px 1em;


}

#formw12 {

    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 600px;
    height: 500px;
    margin-top: 1%;
    margin-bottom: 3%;

}


#formw1bis {

    position: relative;
    width: 210px;
    max-width: 100%;
    height: 210px;
    text-align: center;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 3%;
    background-color: #0c0c0d;
    border: solid;
    border-width: 1px;
    border-color: rgba(44, 44, 44, 0.353);
    box-shadow: 10px 10px 1em;


}



#formw2 {

    position: relative;
    width: 600px;
    height: 200px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #0c0c0d;
    border: solid;
    border-width: 1px;
    border-color: rgba(44, 44, 44, 0.353);
    box-shadow: 10px 10px 1em;

}

#formw7 {

    position: relative;
    width: 400px;
    height: 400px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #0c0c0d;
    border: solid;
    border-width: 1px;
    border-color: rgba(44, 44, 44, 0.353);
    box-shadow: 10px 10px 1em;

}

#formw3 {

    position: relative;
    width: 95%;
    height: 430px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 3%;
    background-color: #0c0c0d;
    border: solid;
    border-width: 1px;
    border-color: rgba(44, 44, 44, 0.353);
    box-shadow: 10px 10px 1em;

}


#size {

    width: 100%;
    height: 100%;

}

#text {

    color: white;
    text-align: center;
}

.liste {

    color: white;
}

.orgaw1 {

    display: flex;
    justify-content: center;
    align-items: center;

}

.donuts {

    width: 100px;
    height: 100px;

}

@media screen and (max-width: 900px) {

    #forw12 {

        width: 70%;

    }

}

#nameposition {

    margin-top: 25%;
    margin-right: 40%;
    opacity: 0.1;
}

.data {

    color: rgb(0, 161, 156);
    filter: drop-shadow(0px 0px 0.5em rgb(3, 194, 187));


}

#flag {

    margin-top: -22%;
    height: 400px;
    filter: drop-shadow(0px 0px 2em rgb(3, 194, 187));


}

#italic {

    font-style: italic;
    opacity: 0.5;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////


#quatuor {

    width: 450px;
    height: 450px;
    border: solid;
    border-color: #0c0c0d;

}



#w2 {

    width: 700px;
    height: 450px;
    text-align: center;
    background-color: #0c0c0d;
    border: solid;
    border-width: 1px;
    border-color: rgba(44, 44, 44, 0.353);
    box-shadow: 10px 10px 1em;
    padding-top: 4%;
    transition: width 0.4s, height 0.4s, background-color 0.4s, transform 0.4s;


}

#w2:hover {

    -ms-transform: scale(1) translate(10px);
    -webkit-transform: scale(1) translate(10px);
    transform: scale(1) translate(10px);
    background-color: #1e1e20;

}

#w3 {

    width: 275px;
    height: 350px;
    text-align: center;
    background-color: #0c0c0d;
    border: solid;
    border-width: 1px;
    border-color: rgba(44, 44, 44, 0.353);
    box-shadow: 10px 10px 1em;
    padding-top: 2%;
    transition: width 0.4s, height 0.4s, background-color 0.4s, transform 0.4s;


}

#w3:hover {

    -ms-transform: scale(1) translate(10px);
    -webkit-transform: scale(1) translate(10px);
    transform: scale(1) translate(10px);
    background-color: #1e1e20;

}


#carré {

    width: 200px;
    height: 200px;
    margin-bottom: 10%;
    text-align: center;
    background-color: #0c0c0d;
    border: solid;
    border-width: 1px;
    border-color: rgba(44, 44, 44, 0.353);
    box-shadow: 10px 10px 1em;
    padding-top: 4%;
    transition: width 0.4s, height 0.4s, background-color 0.4s, transform 0.4s;





}

#carré:hover {

    -ms-transform: scale(1) translate(10px);
    -webkit-transform: scale(1) translate(10px);
    transform: scale(1) translate(10px);
    background-color: #1e1e20;

}

#ligne {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

#part1 {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 2%;
    width: 100%;
    height: 400px;
    border: solid;
    border-color: #0c0c0d;

}

@media screen and (max-width: 1000px) {

    #part1 {

        width: 70%;
        height: 90%;

    }

    #w1 {

        width: 70%;
        height: 90%;
    }

    #w2 {

        width: 70%;
        height: 90%;
    }
}